* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

@import url('./form.css');

.main {
  top: 50%;
  left: 50%;
  display: flex;
  max-height: 90vh;
  overflow-y: auto;
  position: absolute;
  padding-bottom: 50px;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.form, .result {
  gap: 20px 0;
  width: 300px;
  display: flex;
  padding: 25px;
  border-radius: 10px;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.forms {
  gap: 0 50px;
  display: flex;
}

.title {
  font-size: 25px;
  text-align: center;
}

.status {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

.status__error {
  color: red;
}

.status__success {
  color: lightgreen;
}

@media (max-width: 750px) {
  .forms {
      gap: 50px 0;
      flex-direction: column;
  }
}

@media (max-width: 320px) {
  .form, .result {
    width: 250px;
  }
}